.form-signin {
    max-width: 330px;
    min-width: 100px;
}

.carousel-caption h2,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}